.block {
    min-width: 100px;
    max-width: 300px;

    height: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    padding: 0px 10px;

    border-radius: 10px;
    background-color:var(--grey) ;

    & img:hover {
        cursor: pointer;
    }

}

.name {
    max-width: 250px;

    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;

    & span {
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--white);
    }
}

.button {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.active{
    background-color: var(--primary);
}