
.modal {
    position: fixed;

    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 2000;
}

.modalWindow {
    position: relative;

    min-height: 330px;
    height: 75vh;

    width: 800px;
    max-width: 800px;

    left: 10%;

    padding: 10px;

    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.exit {
    position: absolute;
    float: right;
    top: -27px;
    right: -27px;
    cursor: pointer;
}

.header {
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 10px;

    margin-bottom: 10px;
}

.search {
    width: 150px;
    height: 22px;
}

.item1 {
    margin-left: auto;
}

.item2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.table {
    width: 100%;
}

.table th {
    height: 35px;
    width: 50%;

    border-radius: 10px;
    background-color: #DDEBF1;

    color: #005475;
    font-family: 'Montserrat';


    white-space: nowrap;
    vertical-align: center;
}

.table tbody {

    min-height: 270px;
    height: calc(75vh - 130px);

    width: 100%;
    max-width: 100%;

    border-radius: 10px;

    display: flex;
    flex-direction: column;

}

.table tbody tr {
    min-height: 200px;
    height: calc(75vh - 130px);

    width: 100%;
    max-width: 100%;

    display: block;

    overflow-y: auto;

}


.table td {
    width: 100%;

    display: flex;
    row-gap: 5px;
    flex-direction: column;


    font-family: 'Montserrat';
    vertical-align: top;
}

.row {
    max-width: 375px;

    display: flex;
    align-items: center;
    column-gap: 10px;

    padding: 5px;

    background-color: #f0f3f5;
    border-radius: 10px;


    overflow: hidden;
    white-space: normal;
    word-break: break-word;
}



