.dialog {
    width: 75%;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.5);
}

.header {
    height: 16%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.fon {
    height: 25%;
    background-color: #005475;
    border-radius: 0px 8px 0px 0px;
}

.pomoshnikSearch {
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.pomoshnik {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
}

.iconBack:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    cursor: pointer;
}

.search {
    -webkit-appearance: none;
    /* Удаляет стандартные стили WebKit */
    width: 10vw;
    /* Регулирует ширину */
    height: 50%;
    /* Регулирует высоту */
    border-bottom: 1px solid #ccc;
    /* Добавляет границу */
}

input[type="search"]::-webkit-input-placeholder {
    background-image: url('../../image/search.svg');
    /* Укажите здесь путь к вашему изображению */
    background-repeat: no-repeat;
    /* Предотвращает повторение изображения */
    background-position: right center;
    /* Располагает изображение слева от текста */
    font-family: "Montserrat";
    font-size: 14px;
    color: #B4B4B4;
    /* Необязательно: меняет цвет текста плейсхолдера */
    font-style: italic;
}

.spanPomoshnik {
    align-self: flex-start;
    font-family: "Montserrat";
    font-size: 12px;
    position: relative;
    font-weight: 600;
}

.spanPomoshnik span {
    color: rgb(58, 58, 58);
}

.spanPomoshnik::after {
    content: 'ПОЛИТИКА';
    position: absolute;
    left: 0;
    bottom: -15px;
    font-weight: 600;
    font-size: 12px;
}

.editText {
    padding: 0.1% 2%;
    height: 30%;
    width: 100%;
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imageButton {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.one {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.one img:hover,
.two img:hover,
.four img:hover,
.three img:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 20%;
}

.iconSavetmp:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 20%;
    cursor: pointer;
}

.blockIconAdd {
    position: relative;
}

.iconAdd:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 20%;
    cursor: pointer;
}

.blockIconAdd:hover::after {
    content: "Создать политику";
    white-space: nowrap;
    position: absolute;
    width: 120px;
    height: 20px;
    bottom: -120%;
    left: -170%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3A3A3A;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.blockIconSavetmp {
    position: relative;
}

.blockIconSavetmp:hover::after {
    content: "Сохранить";
    white-space: nowrap;
    position: absolute;
    width: 80px;
    height: 20px;
    bottom: -120%;
    left: -120%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3A3A3A;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.select {
    height: auto;
    cursor: pointer;
}

.select:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 20%;
}

.blockSelect {
    position: relative;
}

.option {
    position: absolute;
    display: none;
    white-space: nowrap;
    right: 1%;
    background-color: #ffff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 5px;
    padding-bottom: 8px;
}

.option img {
    margin-right: 10px;
}

.option li:first-child {
    margin-top: 0px;
}

.option li {
    margin-top: 7px;
    position: relative;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
}

.option li:hover {
    background-color: rgb(240, 240, 240)
}

.option li:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 90%;
    bottom: -4px;
    right: 0;
    background-color: rgb(240, 240, 240);
}

.blockSelect:hover .option {
    display: block;
}

.two {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-left: 2%;
}

.three {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-left: 2%;
}

.four {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-left: 2%;
}

.five {
    height: 60%;
    width: 10%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    margin-left: 2%;
}

.sixth {
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1%;
    margin-left: 1%;
    column-gap: 5px;
    position: relative;
}

.four span {
    font-weight: 600;
    font-family: 'Montserrat';
    color: rgb(58, 58, 58);
    font-size: 14px;
}

.policySearch {
    position: absolute;
    bottom: -70px;
    min-height: 60px;
    padding: 5px 5px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    overflow: visible;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.main {
    height: 84%;
    max-height: 80vh;
    overflow-y: auto;
    /* scrollbar-width: thin;
    scrollbar-color: #005475 #FFFFFF; */
    background-color: #F0F0F0;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1%;
}

.Teaxtaera {
    min-width: 50%;
    min-height: 10vw;
    background-color: #FFFFFF;
    padding: 1%;
    padding: 1%;
    resize: none;
}

textarea::placeholder {
    color: #B4B4B4;
    font-style: italic;
    font-size: 12px;
    font-family: 'Montserrat';
    padding-top: 3%;
    padding-left: 3%;
}

.add {
    height: 7%;
    width: 16vw;
    background-color: #ffff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1%;
    column-gap: 5%;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
    align-self: flex-start;
    margin-left: 25%;
}

.add div {
    color: #3A3A3A;
    font-size: 14px;
}



.load {
    height: 84%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    padding-top: 18%;
    align-items: center;
    background-color: #F0F0F0;
    row-gap: 15px;
}

.loadImage {
    width: 33px;
    height: 33px;
    animation: rotate 1s linear infinite;
    /* Анимация вращения */
}

.spanLoad {
    font-weight: 600;
    font-family: 'Montserrat';
    color: #005475;
    font-size: 14px;
}


.error {
    height: 84%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    padding-top: 18%;
    align-items: center;
    background-color: #F0F0F0;
    row-gap: 15px;
}

.errorImage {
    width: 33px;
    height: 33px;
    animation: error 2s ease-in-out infinite;
    /* Анимация вращения */
}

.spanError {
    font-weight: 600;
    font-family: 'Montserrat';
    color: red;
    font-size: 16px;
}

.listUL {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    position: relative;
    column-gap: 10px;
}

.listULElement {
    display: none;
    max-height: 300px;
    min-width: 150px;
    max-width: 300px;
    overflow: auto;
    position: absolute;
    left: 180px;
    top: 0;
    margin: 0;
    list-style: none;  
    z-index: 100;
    padding-left: 20px;
    /* box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 40px; */
    & li {
        padding: 5px;
        cursor: pointer;
        width: 100%;
        background-color: white;
        &:hover {
            background-color: rgb(240, 240, 240)
        }
    }
}

.policySearchItem:hover .listULElement {
    display: block;
}

.policySearchItem {
    position: relative;
}

.listText{
    font-weight: 600;
    font-family: 'Montserrat';
    color: #3A3A3A;
    font-size: 12px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        /* Начальное положение */
    }

    to {
        transform: rotate(360deg);
        /* Конечное положение */
    }
}

@keyframes error {
    0% {
        transform: scale(1);
        /* Исходный размер */
    }

    50% {
        transform: scale(1.5);
        /* Увеличение на 50% */
    }

    100% {
        transform: scale(1);
        /* Возвращение к исходному размеру */
    }
}