.textArea{
    width: 750px;
    height: 300px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0px rgba(245, 245, 245, 0.208);
    padding: 20px;
    color: #000;  
    font-family: "Montserrat";
    font-size: 16px;
    resize: none;
}