.load {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top:25%;
    column-gap: 15px;
    z-index: 10000;
}

.loadImage {
    width: 33px;
    height: 33px;
    animation: rotate 1.2s linear infinite;
    /* Анимация вращения */
}

.spanLoad {
    font-weight: 600;
    font-family: 'Montserrat';
    color: #005475;
    font-size: 14px;
}

.error {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 25%;
    row-gap: 15px;
    z-index: 10000;
}


.errorImage {
    width: 33px;
    height: 33px;
    animation: error 2s ease-in-out infinite;
    /* Анимация вращения */
}

.spanError {
    font-weight: 600;
    font-family: 'Montserrat';
    color: red;
    font-size: 16px;
}

.success {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 25%;
    row-gap: 15px;
    z-index: 10000;
}

.successImage {
    animation: error 2s ease-in-out infinite;
}

.spanSuccess {
    font-weight: 600;
    font-family: 'Montserrat';
    color: #008000;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        /* Начальное положение */
    }

    to {
        transform: rotate(360deg);
        /* Конечное положение */
    }
}

@keyframes error {
    0% {
        transform: scale(1);
        /* Исходный размер */
    }

    50% {
        transform: scale(1.5);
        /* Увеличение на 50% */
    }

    100% {
        transform: scale(1);
        /* Возвращение к исходному размеру */
    }
}

.wave {
    -webkit-box-reflect: below 0 linear-gradient(transparent, rgba(0, 84, 117, 0.5));
}

.wave span {
    display: inline-block;
    font-weight: 600;
    font-family: 'Montserrat';
    color: #005475;
    font-size: 14px;
    animation: wave 1s infinite calc(0.1s * var(--i));
}

@keyframes wave {
    0%,
    40%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-10px)
    }
}