.load {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:25%;
    row-gap: 15px;
    z-index: 10000;
}

.loadImage {
    width: 33px;
    height: 33px;
    animation: rotate 1s linear infinite;
    /* Анимация вращения */
}

.spanLoad {
    font-weight: 600;
    font-family: 'Montserrat';
    color: #005475;
    font-size: 14px;
}

.error {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:25%;
    row-gap: 15px;
    z-index: 10000;
}


.errorImage {
    width: 33px;
    height: 33px;
    animation: error 2s ease-in-out infinite;
    /* Анимация вращения */
}

.spanError {
    font-weight: 600;
    font-family: 'Montserrat';
    color: red;
    font-size: 16px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        /* Начальное положение */
    }

    to {
        transform: rotate(360deg);
        /* Конечное положение */
    }
}

@keyframes error {
    0% {
        transform: scale(1);
        /* Исходный размер */
    }

    50% {
        transform: scale(1.5);
        /* Увеличение на 50% */
    }

    100% {
        transform: scale(1);
        /* Возвращение к исходному размеру */
    }
}