.demo-wrapper {
  min-width: 750px;
  border: 1px solid #ccc;
  padding: 10px;
}

.demo-editor {
  background-color: #f0f8ff;
  padding: 10px;
  min-width: 750px;
  min-height: 300px;
  color: #000;
}

.demo-toolbar {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.rdw-list-dropdown {
  width: 50px;
  z-index: 0;
}

.rdw-text-align-dropdown {
  width: 50px;
  z-index: 0;
}
