.demo-wrapper {
  min-width: 750px;
  margin-bottom: 40px;
}

.demo-editor {
  background-color: #f0f8ff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px rgba(0, 37, 117, 0.25);
  padding: 10px;
  min-width: 750px;
  min-height: 300px;
  color: #000;  
}

.demo-toolbar {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.rdw-list-dropdown {
  width: 50px;
  z-index: 0;
}

.rdw-text-align-dropdown {
  width: 50px;
  z-index: 0;
}