.content{
    width: 100%;
    grid-area: content;
    background: url('../../../image/background.png');
    display: flex;
    flex-direction: row;
    padding: 25px;
    padding-bottom: 1px;
    column-gap: 25px;
}