.contact {
    border-radius: 8px 0px 0px 8px;
    width: 24%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.5);
}

.header {
    border-radius: 8px 0px 0px 0px;
    height: 32px;
    background-color: #005475;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 11px;
}

.header svg {
    cursor: pointer;
}

.headerName {
    font-family: "Montserrat";
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 600;
}

.search {
    height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 25px 5px;
}

.search input {
    position: relative;
    height: 4vh;
    min-height: 30px;
    width: 100%;
}

.main {
    margin-top: 10px;
    border-radius: 0px 0px 0px 8px;
}

.item {
    background-color: #CFDEE5;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12.5px;
    padding-left: 12.5px;
    color: rgb(0, 84, 117);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
}

.search input[type="search"] {
    -webkit-appearance: none;
    /* Удаляет стандартные стили WebKit */
    padding: 5px;
    /* Добавляет внутренний отступ */
    border-radius: 3px 3px 0px 0px;
    /* Скругляет углы */
    border: 2px solid #F0F0F0;
    /* Добавляет границу */
}

.search input[type="search"]::-webkit-input-placeholder {
    background-image: url('../../../image/search.svg');
    /* Укажите здесь путь к вашему изображению */
    background-repeat: no-repeat;
    /* Предотвращает повторение изображения */
    background-position: right center;
    /* Располагает изображение слева от текста */
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 600;
    color: #B4B4B4;
    /* Необязательно: меняет цвет текста плейсхолдера */
}


.search input:focus {
    color: #005475;
    border-bottom: 1.5px solid rgb(0, 84, 117);
    border-top: 1px solid #ffff;
    border-right: 1px solid #ffff;
    border-left: 1px solid #ffff;
}


.search input:focus::placeholder {
    position: absolute;
    font-style: normal;
    font-weight: 100;
    top: -2px;
    left: 5%;
    color: #005475;
    background-image:none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-image: url('../../../image/iconСlose.svg');
}