.block{
    grid-area: block;
    background-color: #005475;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 5px;
    box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.25);
    padding-bottom: 15px;
}

.row span{
    font-family: 'Montserrat';
    color:#FFFFFF;
    font-size: 12px !important;
    font-weight: 400;
    opacity: 0.64;
    cursor:pointer;
    letter-spacing: 0.5px;
    transition: opacity 0.3s ease;
}

.row{
    cursor:pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 5px;
}

.row:hover{
    cursor:pointer;
    span {
        opacity:1;
    }
    g path {
        stroke-opacity: 1 !important;
    }
    svg path {
        stroke-opacity: 1 !important;
    }
}

.row svg path {
    transition: stroke-opacity 0.3s ease; /* Добавляем плавный переход */
}

