.block{
    grid-area: block;
    background-color: #005475;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 5px;
    box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.25);
    padding-bottom: 15px;
}
.block span{
    font-family: 'Montserrat';
    color:#FFFFFF;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.64;
    cursor:pointer;
    letter-spacing: 0.5px;
    transition: opacity 0.3s ease;
}
.block svg{
    cursor:pointer;
}
.block svg path {
    transition: stroke-opacity 0.3s ease; /* Добавляем плавный переход */
}
.block:hover svg g path {
    stroke-opacity: 1 !important;
}

.block:hover svg path {
    stroke-opacity: 1 !important;
}

.block:hover span{
    opacity:1;
}
