.contact {
    width: 24%;
    height: 100%;

    display: flex;
    flex-direction: column;

    border-radius: 8px 0 0 8px;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
}

.header {
    height: 32px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    padding: 5px 5px 5px 11px;

    border-radius: 8px 0 0 0;
    background-color: #005475;
}

.headerName {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.search {
    height: 50px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    padding: 18px 25px 5px;
}

.search input {
    position: relative;
    width: 100%;
    height: 35px;
    min-height: 30px;
}

.search input[type='search'] {
    padding: 5px;

    border: 2px solid #f0f0f0;
    border-radius: 3px 3px 0 0;

    -webkit-appearance: none;
}

.search input[type='search']::-webkit-input-placeholder {

    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    color: #b4b4b4;
    background-image: url('@image/search.svg');


    background-repeat: no-repeat;

    background-position: right center;

}


.search input:focus {
    color: #005475;
    border-top: 1px solid #ffff;
    border-right: 1px solid #ffff;
    border-bottom: 1.5px solid rgb(0, 84, 117);
    border-left: 1px solid #ffff;
}


.search input:focus::placeholder {
    font-weight: 100;
    font-style: normal;

    position: absolute;
    top: -2px;
    left: 5%;
    color: #005475;
    background-image: none;
}

input[type='search']::-webkit-search-cancel-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url('@image/iconСlose.svg');
    -webkit-appearance: none;
}


.main {
    height: calc(100% - 32px - 50px);

    display: flex;
    flex-direction: column;
    row-gap: 12px;

    margin-top: 10px;

    overflow-y: auto;

    border-radius: 0 0 0 8px;
}

.item {
    height: 50px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 12.5px;

    padding-left: 12.5px;

    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;


    color: rgb(0, 84, 117);
    background-color: #cfdee5;

}

.section {
    position: relative;

    width: auto;
    height: 32px;

    z-index: 0;
}

.section::after {
    position: absolute;

    content: '';

    width: 100%;
    height: 1px;

    top: 50%;

    z-index: -1;

    background-color: var(--primary);
}

.block {
    position: absolute;

    height: 32px;

    display: inline-block;

    left: 11px;

    padding: 8px 8px;

    border: 1px solid var(--primary);
    border-radius: 10px;
    background-color: var(--white);

    z-index: 2;
}

.block span {
    font-family: 'Inter', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400;

    color: var(--primary);
}

.line {
    position: relative;
    display: block;
}

.line::after {
    position: absolute;

    content: '';

    width: 100%;
    height: 2px;

    top: 50%;

    z-index: -1;

    background-color: var(--primary);
}

.org {
    margin-top: 37px;

    display: flex;
    flex-direction: column;
}

.org1 {
    padding-left: 12.5px;

    height: 50px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12.5px;

    background-color:var(--white);

    & span{
        color:var(--grey);
    }
}
