.wrapper{
    min-height: 100vh;
    min-width: 100%;
    background-color: #005475;
    overflow: hidden;
    font-family: 'Montserrat';
}
.messages{
    min-height: 100vh;
    min-width: 100%;
    display: grid;
    grid-template-columns: 0.027fr 1fr;
    grid-template-rows: 0.023fr 1fr;
    grid-template-areas:
    "header header"
    "block content";
}