.header {
    min-height: 24px;
    grid-area: header;
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.panel{
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}
.icon{
    margin-left: 1%;
}
.palkaHeader:hover{
    width: 30%;
    background-color:grey;
    height: 100%;
}

.kvadratHeader:hover{
    width: 30%;
    background-color:grey;
    height: 100%;
}
.exitHeader:hover{
    width: 30%;
    background-color:red;
    height: 100%;
}