.editText {
    padding: 10px 20px;
    max-width: 100%;
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}